[nodes]
master-1.k8s.teko
master-2.k8s.teko
master-3.k8s.teko
worker-1.k8s.teko
worker-2.k8s.teko
worker-3.k8s.teko

[nodes:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_user=tekad
kubernetes_cri=docker

###########################################################
[control]
bastion.k8s.teko

[control:vars]
ansible_python_interpreter=/usr/bin/python3
